/* LOGIN */
#login-screen {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:500;
}

.login-box {
  background:rgba(0,0,0,0.8);
  padding:40px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
  width:300px;
}

.login-box input, .login-box button {
  padding:10px;
  border:none;
  border-radius:8px;
}

.login-box button {
  background:linear-gradient(45deg,#ff6a00,#e52e71);
  color:white;
  cursor:pointer;
}

.dock-icon {
  font-size:18px;
  padding:6px 12px;
  border:none;
  background:transparent;
  color:white;
  cursor:pointer;
}

.dock-icon:hover {
  transform:scale(1.2);
}
